<input id="questionName" class="textField" type="text" 
       name="questionName" placeholder="questoin" ng-model="questionName">
<input id="questionDescr" class="textField" type="text" 
       name="questionDescr" placeholder="questoin" ng-model="questionDescr">
<input id="crtAnswer" class="textField" type="text" 
       name="crtAnswer" placeholder="questoin" ng-model="crtAnswer">
<input id="checkStandard" class="textField" type="text" 
       name="checkStandard" placeholder="questoin" ng-model="checkStandard">
<button class="greenButton roundButton" style="float:right;" ng-click="submitQuestion()">Login</button>

